<div id="two-commandqueue" class="win-content">
    <header class="win-head">
        <h2>CommandQueue <span class="small">v{{ version }}</span></h2>
        <ul class="list-btn">
            <li><a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a></li>
        </ul>
    </header>

    <div class="win-main" scrollbar="">
        <div class="tabs tabs-bg">
            <div class="tabs-three-col">
                <div class="tab" ng-click="selectTab('add')" ng-class="{true:'tab-active', false:''}[selectedTab == 'add']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'add'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'add'}">{{ 'tab_add' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>

                <div class="tab" ng-click="selectTab('waiting')" ng-class="{true:'tab-active', false:''}[selectedTab == 'waiting']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'waiting'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'waiting'}">{{ 'tab_waiting' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>

                <div class="tab" ng-click="selectTab('logs')" ng-class="{true:'tab-active', false:''}[selectedTab == 'logs']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'logs'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'logs'}">{{ 'tab_logs' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-paper footer">
            <div class="scroll-wrap">
                <div class="add" ng-show="selectedTab === 'add'">
                    <form class="addForm">
                        <div>
                            <table class="tbl-border-light tbl-striped">
                                <colgroup>
                                    <col width="30%">
                                    <col width="5%">
                                    <col>
                                    <col width="18%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input data-setting="origin" type="text" class="textfield-border origin" pattern="\\d{2,3}\\|\\d{2,3}" placeholder="{{ 'add_village_search' | i18n:loc.ale:textObject }}" required>
                                        </td>
                                        <td class="text-center"><span class="icon-26x26-rte-village"></span></td>
                                        <td ng-if="!commandData.origin">{{ 'add_no_village' | i18n:loc.ale:textObject }}</td>
                                        <td ng-if="commandData.origin">{{ commandData.origin.name }} ({{ commandData.origin.x }}|{{ commandData.origin.y }})</td>
                                        <td class="actions">
                                            <a class="btn btn-orange" ng-click="addSelected()" tooltip="" tooltip-content="{{ 'add_selected' | i18n:loc.ale:textObject }}">{{ 'selected' | i18n:loc.ale:textObjectCommon }}</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input data-setting="target" type="text" class="textfield-border target" pattern="\\d{2,3}\\|\\d{2,3}" placeholder="{{ 'add_village_search' | i18n:loc.ale:textObject }}" required>
                                        </td>
                                        <td class="text-center"><span class="icon-26x26-rte-village"></span></td>
                                        <td ng-if="!commandData.target">{{ 'add_no_village' | i18n:loc.ale:textObject }}</td>
                                        <td ng-if="commandData.target">{{ commandData.target.name }} ({{ commandData.target.x }}|{{ commandData.target.y }})</td>
                                        <td class="actions">
                                            <a class="btn btn-orange" ng-click="addMapSelected()" tooltip="" tooltip-content="{{ 'add_map_selected' | i18n:loc.ale:textObject }}">{{ 'selected' | i18n:loc.ale:textObjectCommon }}</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input ng-model="commandData.date" type="text" class="textfield-border date" pattern="\\s*\\d{1,2}:\\d{1,2}:\\d{1,2}(:\\d{1,3})? \\d{1,2}\\/\\d{1,2}\\/\\d{4}\\s*" placeholder="{{ 'add_date' | i18n:loc.ale:textObject }}" tooltip="" tooltip-content="00:00:00:000 00/00/0000" required>
                                        </td>
                                        <td class="text-center"><span class="icon-26x26-time"></span></td>
                                        <td><div select="" list="dateTypes" selected="selectedDateType"></div></td>
                                        <td class="actions">
                                            <a class="btn btn-orange" ng-click="reduceDate()" tooltip="" tooltip-content="{{ 'add_current_date_minus' | i18n:loc.ale:textObject }}">-</a><a class="btn btn-orange" ng-click="addCurrentDate()" tooltip="" tooltip-content="{{ 'add_current_date' | i18n:loc.ale:textObject }}">{{ 'now' | i18n:loc.ale:textObjectCommon }}</a><a class="btn btn-orange" ng-click="incrementDate()" tooltip="" tooltip-content="{{ 'add_current_date_plus' | i18n:loc.ale:textObject }}">+</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table ng-show="commandData.origin && commandData.target" class="tbl-border-light tbl-units tbl-speed screen-village-info">
                                <thead>
                                    <tr>
                                        <th colspan="7">{{ 'speed_title' | i18n:loc.ale:textObjectVillageInfo }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="odd">
                                            <div class="unit-wrap">
                                                <span class="icon icon-34x34-unit-knight" tooltip="" tooltip-content="{{ 'knight' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                                <span class="icon icon-34x34-unit-light_cavalry" tooltip="" tooltip-content="{{ 'light_cavalry' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                                <span class="icon icon-34x34-unit-mounted_archer" tooltip="" tooltip-content="{{ 'mounted_archer' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub-icon time-support" ng-class="{'text-red': travelTimes.support.light_cavalry.valueType == 'invalid', 'text-green-bright': travelTimes.support.light_cavalry.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}"><div class="time-icon icon-20x20-support-check"></div>{{ travelTimes.support.light_cavalry.value }}</div>
                                                <div class="box-time-sub-icon time-attack" ng-class="{'text-red': travelTimes.attack.light_cavalry.valueType == 'invalid', 'text-green-bright': travelTimes.attack.light_cavalry.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}"><div class="time-icon icon-20x20-attack-check"></div>{{ travelTimes.attack.light_cavalry.value }}</div>
                                                <div class="box-time-sub-icon time-relocate" ng-class="{'text-red': travelTimes.relocate.light_cavalry.valueType == 'invalid', 'text-green-bright': travelTimes.relocate.light_cavalry.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_relocate' | i18n:loc.ale:textObjectMilitaryOperations }}"><div class="time-icon icon-20x20-relocate"></div>{{ travelTimes.relocate.light_cavalry.value }}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="unit-wrap">
                                                <span class="icon icon-single icon-34x34-unit-heavy_cavalry" tooltip="" tooltip-content="{{ 'heavy_cavalry' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub time-support" ng-class="{'text-red': travelTimes.support.heavy_cavalry.valueType == 'invalid', 'text-green-bright': travelTimes.support.heavy_cavalry.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.support.heavy_cavalry.value }}</div>
                                                <div class="box-time-sub time-attack" ng-class="{'text-red': travelTimes.support.heavy_cavalry.valueType == 'invalid', 'text-green-bright': travelTimes.support.heavy_cavalry.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.attack.heavy_cavalry.value }}</div>
                                                <div class="box-time-sub time-relocate" ng-class="{'text-red': travelTimes.support.heavy_cavalry.valueType == 'invalid', 'text-green-bright': travelTimes.support.heavy_cavalry.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_relocate' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.relocate.heavy_cavalry.value }}</div>
                                            </div>
                                        </td>
                                        <td class="odd">
                                            <div class="unit-wrap">
                                                <span class="icon icon-34x34-unit-archer" tooltip="" tooltip-content="{{ 'archer' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                                <span class="icon icon-34x34-unit-spear" tooltip="" tooltip-content="{{ 'spear' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                                <span class="icon icon-34x34-unit-axe" tooltip="" tooltip-content="{{ 'axe' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                                <span class="icon icon-34x34-unit-doppelsoldner" tooltip="" tooltip-content="{{ 'doppelsoldner' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub time-support" ng-class="{'text-red': travelTimes.support.archer.valueType == 'invalid', 'text-green-bright': travelTimes.support.archer.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.support.archer.value }}</div>
                                                <div class="box-time-sub time-attack" ng-class="{'text-red': travelTimes.support.archer.valueType == 'invalid', 'text-green-bright': travelTimes.support.archer.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.attack.archer.value }}</div>
                                                <div class="box-time-sub time-relocate" ng-class="{'text-red': travelTimes.support.archer.valueType == 'invalid', 'text-green-bright': travelTimes.support.archer.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_relocate' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.relocate.archer.value }}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="unit-wrap">
                                                <span class="icon icon-single icon-34x34-unit-sword" tooltip="" tooltip-content="{{ 'sword' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub time-support" ng-class="{'text-red': travelTimes.support.sword.valueType == 'invalid', 'text-green-bright': travelTimes.support.sword.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.support.sword.value }}</div>
                                                <div class="box-time-sub time-attack" ng-class="{'text-red': travelTimes.support.sword.valueType == 'invalid', 'text-green-bright': travelTimes.support.sword.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.attack.sword.value }}</div>
                                                <div class="box-time-sub time-relocate" ng-class="{'text-red': travelTimes.support.sword.valueType == 'invalid', 'text-green-bright': travelTimes.support.sword.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_relocate' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.relocate.sword.value }}</div>
                                            </div>
                                        </td>
                                        <td class="odd">
                                            <div class="unit-wrap">
                                                <span class="icon icon-34x34-unit-catapult" tooltip="" tooltip-content="{{ 'catapult' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                                <span class="icon icon-34x34-unit-ram" tooltip="" tooltip-content="{{ 'ram' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub time-support" ng-class="{'text-red': travelTimes.support.ram.valueType == 'invalid', 'text-green-bright': travelTimes.support.ram.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.support.ram.value }}</div>
                                                <div class="box-time-sub time-attack" ng-class="{'text-red': travelTimes.support.ram.valueType == 'invalid', 'text-green-bright': travelTimes.support.ram.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.attack.ram.value }}</div>
                                                <div class="box-time-sub time-relocate" ng-class="{'text-red': travelTimes.support.ram.valueType == 'invalid', 'text-green-bright': travelTimes.support.ram.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_relocate' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.relocate.ram.value }}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="unit-wrap">
                                                <span class="icon icon-single icon-34x34-unit-snob" tooltip="" tooltip-content="{{ 'snob' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub time-support" ng-class="{'text-red': travelTimes.support.snob.valueType == 'invalid', 'text-green-bright': travelTimes.support.snob.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.support.snob.value }}</div>
                                                <div class="box-time-sub time-attack" ng-class="{'text-red': travelTimes.support.snob.valueType == 'invalid', 'text-green-bright': travelTimes.support.snob.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.attack.snob.value }}</div>
                                                <div class="box-time-sub time-relocate" ng-class="{'text-red': travelTimes.support.snob.valueType == 'invalid', 'text-green-bright': travelTimes.support.snob.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'cannot_relocate_snob' | i18n:loc.ale:textObjectMilitaryOperations }}">-</div>
                                            </div>
                                        </td>
                                        <td class="odd">
                                            <div class="unit-wrap">
                                                <span class="icon icon-single icon-34x34-unit-trebuchet" tooltip="" tooltip-content="{{ 'trebuchet' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                            </div>

                                            <div>
                                                <div class="box-time-sub time-support" ng-class="{'text-red': travelTimes.support.trebuchet.valueType == 'invalid', 'text-green-bright': travelTimes.support.trebuchet.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_support' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.support.trebuchet.value }}</div>
                                                <div class="box-time-sub time-attack" ng-class="{'text-red': travelTimes.support.trebuchet.valueType == 'invalid', 'text-green-bright': travelTimes.support.trebuchet.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_attack' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.attack.trebuchet.value }}</div>
                                                <div class="box-time-sub time-relocate" ng-class="{'text-red': travelTimes.support.trebuchet.valueType == 'invalid', 'text-green-bright': travelTimes.support.trebuchet.valueType == 'valid'}" tooltip="" tooltip-content="{{ 'travel_time_relocate' | i18n:loc.ale:textObjectMilitaryOperations }}">{{ travelTimes.relocate.trebuchet.value }}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h5 class="twx-section collapse">{{ 'units' | i18n:loc.ale:textObjectCommon }}</h5>
                        <table class="tbl-border-light tbl-striped">
                            <colgroup>
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                            </colgroup>
                            <tbody class="add-units">
                                <tr>
                                    <td colspan="4" class="actions">
                                        <ul class="list-btn list-center">
                                            <li><div select="" list="presets" selected="selectedInsertPreset" drop-down="true"></div></li>
                                            <li><a class="clear-units btn btn-orange" ng-click="cleanUnitInputs()">{{ 'add_clear' | i18n:loc.ale:textObject }}</a></li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr ng-repeat="i in [] | range:(unitOrder.length / 4);">
                                    <td class="cell-space-left">
                                        <span class="icon-bg-black" ng-class="'icon-34x34-unit-' + unitOrder[i * 4]" tooltip="" tooltip-content="{{ unitOrder[i * 4] | i18n:loc.ale:textObjectUnitNames }}"></span>
                                        <input remove-zero="" type="text" ng-model="commandData.units[unitOrder[i * 4]]" maxlength="5" placeholder="{{ commandData.units[unitOrder[i * 4]] }}" ng-keyup="onKeyup();" ng-focus="onFocus(unitOrder[i * 4])" ng-blur="onBlur(unitOrder[i * 4])">
                                    </td>
                                    <td class="cell-space-left">
                                        <span class="icon-bg-black" ng-class="'icon-34x34-unit-' + unitOrder[i * 4 + 1]" tooltip="" tooltip-content="{{ unitOrder[i * 4 + 1] | i18n:loc.ale:textObjectUnitNames }}"></span>
                                        <input remove-zero="" type="text" ng-model="commandData.units[unitOrder[i * 4 + 1]]" maxlength="5" placeholder="{{ commandData.units[unitOrder[i * 4 + 1]] }}" ng-keyup="onKeyup();" ng-focus="onFocus(unitOrder[i * 4 + 1])" ng-blur="onBlur(unitOrder[i * 4 + 1])">
                                    </td>
                                    <td class="cell-space-left">
                                        <span class="icon-bg-black" ng-class="'icon-34x34-unit-' + unitOrder[i * 4 + 2]" tooltip="" tooltip-content="{{ unitOrder[i * 4 + 2] | i18n:loc.ale:textObjectUnitNames }}"></span>
                                        <input remove-zero="" type="text" ng-model="commandData.units[unitOrder[i * 4 + 2]]" maxlength="5" placeholder="{{ commandData.units[unitOrder[i * 4 + 2]] }}" ng-keyup="onKeyup();" ng-focus="onFocus(unitOrder[i * 4 + 2])" ng-blur="onBlur(unitOrder[i * 4 + 2])">
                                    </td>
                                    <td class="cell-space-left">
                                        <span class="icon-bg-black" ng-class="'icon-34x34-unit-' + unitOrder[i * 4 + 3]" tooltip="" tooltip-content="{{ unitOrder[i * 4 + 3] | i18n:loc.ale:textObjectUnitNames }}"></span>
                                        <input remove-zero="" type="text" ng-model="commandData.units[unitOrder[i * 4 + 3]]" maxlength="5" placeholder="{{ commandData.units[unitOrder[i * 4 + 3]] }}" ng-keyup="onKeyup();" ng-focus="onFocus(unitOrder[i * 4 + 3])" ng-blur="onBlur(unitOrder[i * 4 + 3])">
                                    </td>
                                </tr>

                                <tr>
                                    <td class="cell-space-left">
                                        <span class="icon-bg-black icon-34x34-unit-catapult" tooltip="" tooltip-content="{{ 'catapult' | i18n:loc.ale:textObjectUnitNames }}"></span>
                                        <input remove-zero="" type="text" ng-model="commandData.units.catapult" maxlength="5" placeholder="{{ commandData.units.catapult }}" ng-keyup="onKeyup();" ng-focus="onFocus('catapult')" ng-blur="onBlur('catapult')">
                                    </td>
                                    <td class="cell-space-left" colspan="3">
                                        <div ng-visible="showCatapultSelect">
                                            <div class="unit-border box-slider">
                                                <div class="height-wrapper">
                                                    <div select="" list="attackableBuildings" selected="catapultTarget"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <h5 class="twx-section collapse">{{ 'officers' | i18n:loc.ale:textObjectCommon }}</h5>

                        <table class="add-officers margin-top tbl-border-light tbl-officers">
                            <tbody>
                                <tr>
                                    <td class="cell-officers" ng-repeat="officer in officers">
                                        <table class="tbl-border-dark tbl-officer">
                                            <tbody>
                                                <tr>
                                                    <td class="cell-space" > <span class="icon-44x44-premium_officer_{{ officer }}"></span> </td>
                                                    <td class="cell-officer-switch" rowspan="2">
                                                        <div switch-slider="" enabled="true" value="commandData.officers[officer]" vertical="true" size="'34x66'"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td tooltip="" tooltip-content="{{ 'available_officers' | i18n:loc.ale:'modal_preset_edit' }}">
                                                        <div class="amount">{{ inventory.getItemAmountByType('premium_officer_' + officer) | number }}</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                
                <div class="waiting" ng-show="selectedTab === 'waiting'">
                    <div class="filters">
                        <table class="tbl-border-light">
                            <tbody>
                                <tr>
                                    <td>
                                        <div data-filter="selectedVillage" class="box-border-dark icon selectedVillage" tooltip="{{ 'filters_selected_village' | i18n:loc.ale:textObject }}">
                                            <span class="icon-34x34-village-info icon-bg-black"></span>
                                        </div>
                                        <div data-filter="barbarianTarget" class="box-border-dark icon barbarianTarget" tooltip="{{ 'filters_barbarian_target' | i18n:loc.ale:textObject }}">
                                            <span class="icon-34x34-barbarian-village icon-bg-black"></span>
                                        </div>
                                        <div data-filter="attack" class="box-border-dark icon allowedTypes active" tooltip="{{ 'filters_attack' | i18n:loc.ale:textObject }}">
                                            <span class="icon-34x34-attack icon-bg-black"></span>
                                        </div>
                                        <div data-filter="support" class="box-border-dark icon allowedTypes active" tooltip="{{ 'filters_support' | i18n:loc.ale:textObject }}">
                                            <span class="icon-34x34-support icon-bg-black"></span>
                                        </div>
                                        <div data-filter="relocate" class="box-border-dark icon allowedTypes active" tooltip="{{ 'filters_relocate' | i18n:loc.ale:textObject }}">
                                            <span class="icon-34x34-relocate icon-bg-black"></span>
                                        </div>
                                        <div class="text">
                                            <input data-filter="textMatch" type="text" class="box-border-dark textMatch" placeholder="{{ 'filters_text_match' | i18n:loc.ale:textObject }}">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h5 class="twx-section collapse">{{ 'queue_waiting' | i18n:loc.ale:textObject }}</h5>
                    <div class="queue">
                        <p class="center nothing">{{ 'queue_none_added' | i18n:loc.ale:textObject }}</p>
                    </div>
                </div>
                
                <div class="log" ng-show="selectedTab === 'log'">
                    <h5 class="twx-section collapse">{{ 'queue_sent' | i18n:loc.ale:textObject }}</h5>
                    <div class="sent">
                        <p class="center nothing">{{ 'queue_none_sent' | i18n:loc.ale:textObject }}</p>
                    </div>

                    <h5 class="twx-section collapse">{{ 'queue_expired' | i18n:loc.ale:textObject }}</h5>
                    <div class="expired">
                        <p class="center nothing">{{ 'queue_none_expired' | i18n:loc.ale:textObject }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li ng-show="selectedTab === 'log'">
                <a class="btn-orange btn-border" ng-click="clearLogs()">{{ 'general_clear' | i18n:loc.ale:textObject }}</a>
            </li>
            <li ng-show="selectedTab === 'add'">
                <a class="btn-orange btn-border add" ng-click="commandData('attack')"><span class="icon-26x26-attack-small"></span> {{ 'attack' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
            <li ng-show="selectedTab === 'add'">
                <a class="btn-orange btn-border add" ng-click="commandData('support')"><span class="icon-26x26-support"></span> {{ 'support' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
            <li ng-show="selectedTab === 'add'">
                <a class="btn-orange btn-border add" ng-click="commandData('relocate')"><span class="icon-26x26-relocate"></span> {{ 'relocate' | i18n:loc.ale:textObjectCommon }}</a>
            </li>

            <li class="twOverflow-button">
                <a class="btn-green btn-border switch">{{ 'activate' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
        </ul>
    </footer>
</div>
